[submodule "utils"]
	path = scripts/utils
	url = https://github.com/deepworks-net/utilities.docker.git
[submodule "scripts/webdna"]
	path = scripts/webdna
	url = https://github.com/deepworks-net/utilities.webdna.git
